@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>FGC collects usernames, email addresses and IP addresses for the purpose of security, verification and preventing abuse. This information, with the exception of IP addresses, is only collected from users who sign up for an EventHubs account. IP addresses are logged for security measures and preventing abuse.</p>
<p>The information we collect is not shared with other parties, nor is it available for sale in any way, and is locked behind systems that stops outside access.</p>